.checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.box {
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.tick {
  font-size: 10px;
  color: black;
  opacity: 0;
  transition: 0.2s ease;
}

/* ✔ WHEN CHECKED */
.checkbox:checked + .box {
background: var(--color-golf-accent-dark);
  border-color: var(--golf-accent-light);
}

.checkbox:checked + .box .tick {
  opacity: 1;
}
.glass {
    -webkit-backdrop-filter: blur(20px)saturate(140%);
    backdrop-filter: blur(20px) saturate(140%);
    background: #ffffff14;
    border: 1px solid #ffffff24;
    border: 1px solid lab(100% -.0000298023 .0000119209 / .14);
}